
.sidebar.right{
    position:fixed;
    left:70%;
}

input, select{
    margin: 5px;
}

.link{
    font-weight: 400;
    color: #007bff;
    text-decoration: none;
}

.link:hover{
    cursor: pointer;
    text-decoration: underline;
}