
.sidebar.right{
    position:fixed;
    left:70%;
}

.link{
    font-weight: 400;
    color: #007bff;
    text-decoration: none;
}

.link:hover{
    cursor: pointer;
    text-decoration: underline;
}

.nodeAttributesBase{
    display:none;
}

.treeWrapper{
    position: absolute;
    left: 0;
}

.myLabelComponentInSvg{
    border: 1px solid lightgrey;
    border-radius: 5px;
    /* padding: 5px; */
    padding-right: 5px;
    padding-left: 5px;
    -webkit-box-shadow: lightgrey 0px 2px 5px;
    box-shadow: lightgrey 0px 2px 2px;
    text-align: center;
    background-color: #FFFFFF;
    display: inline-block;
}

/* .myLabelComponentInSvg p {
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
    box-shadow: lightgrey 0px 2px 5px;
    text-align: center;
    background-color: #FFFFFF;
} */

.circle{
    border-radius: 50%;
    display:inline-block;
    height: 15px;
    width: 15px;
    font-size: 10px;
    text-align: center;
}

.green{
    border: 1px solid black;
    background-color: #3CB043;
}

.blue{
    border: 1px solid black;
    background-color: #2832C2;
}

.gray{
    border: 1px solid black;
    background-color: gray;
}

.subjectName{
    display: inline-block;
    width: auto;
    font-size: 14px;
    font-family: 'Calibri';
    vertical-align: text-bottom;
}

.subjectName p{
    margin-bottom: unset;
}

.subjectInfo{
    width: 240px;
    position: absolute;
    border: 1px black;
    box-shadow: #bebebe 2px 3px 5px;
    background-color: white;
    right: 5rem;
    top: 1rem;
    border-radius: 8px;
}

.subjectInfo ul{
    list-style-type: none;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 20px;
    display:inline-block;
}



.subjectInfo .employeeList a{
    color: #00458f;
}

.subjectInfo .employeeList a:hover{
    color: #0099bc;
    cursor: pointer;
}

.employeeList li {
    border-bottom: 1px #eaeaea solid;
    line-height: 1.8;
    font-size: 14px;
    padding-right: 10px;
}

.subjectInfo p.title{
    border-bottom: 1px solid lightgrey;
    box-shadow: lightgrey 1px 0px 5px;
    padding-top: 15px;
    font-size: 20px;
    color: black;
    padding-left: 20px;
    padding-right: 30px;
}

.info p{
    padding-left: 15px;
    padding-right: 10px;
    font-size: 14px;
}

.employeeList li:last-child{
    border-bottom: none;
    box-shadow: none;
}

.learning-tree nav.mb-3{
    margin-bottom: 0 !important;
}

.legend{
    position: absolute;
    background-color: white;
    display:inline-block;
    padding: 15px;
    padding-bottom: 0;
    border: 1px black;
    box-shadow: #bebebe 2px 3px 5px;
}

.legend ul{
    list-style-type: none;
    padding-left: 0;
}

.legend ul span{
    font-size: 15px;
    vertical-align: text-top;
    font-family: 'Calibri'; 
}
.login-form{
    position: absolute;
    padding: 20px;
    width: 350px;
    border-radius: 5px;
    border: 1px solid #bfbfbf;
    box-shadow: 4px 4px 16px 0px lightgrey;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.form-left{
    width: 350px;
}